body {
  margin: 0;
}

body, html {
  height: 100%;
}

.container, .container--large {
  display: flex;
  align-items: center;
  height: 515px;
}
@media (max-width: 900px) {
  .container, .container--large {
    flex-direction: column;
  }
}
.container__text, .container__text--right-aligned {
  width: 50%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .container__text, .container__text--right-aligned {
    width: 100%;
  }
}
@media (min-width: 901px) {
  .container__text--right-aligned {
    text-align: justify;
  }
}
.container__text--right-aligned .container__heading {
  text-align: center;
}
.container__heading {
  margin: 0;
  padding: 0;
}
@media (max-width: 900px) {
  .container__heading {
    text-align: center;
  }
}
.container__image-box {
  width: 50%;
}
@media (max-width: 900px) {
  .container__image-box {
    width: 100%;
  }
}
.container__image-box video, .container__image-box img {
  width: 100%;
}
.container__image-box video {
  max-width: 960px;
}
.container p, .container--large p {
  margin: 0.5em 0;
}
.container--large .container__image-box {
  text-align: right;
}
.container--large img, .container--large video {
  max-height: 515px;
  max-width: 100%;
  width: auto;
}

.carousel {
  overflow: hidden;
}
.carousel__line {
  display: flex;
  margin: 5px 0;
}
.carousel img {
  width: 40%;
}

.parallax-image {
  position: relative;
  padding-top: 400px;
  min-height: 1300px;
  box-sizing: border-box;
}
.parallax-image__container {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.parallax-image__content {
  width: 35%;
  min-width: 400px;
  background-color: #7E728CDD;
  padding: 10px 20px;
  box-sizing: border-box;
}
.parallax-image__image {
  position: absolute;
  top: 0;
  right: 0;
  max-height: 900px;
  max-width: 95%;
}

main {
  position: relative;
  overflow: hidden;
}

.timeline {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 255px;
}

@media (min-width: 901px) and (max-width: 1050px) {
  #text text {
    font-size: 28px;
  }
}

.header {
  width: 100%;
  height: 100vh;
}

.fairytale {
  width: 100%;
  height: 100vh;
}

.fr-hidd {
  visibility: hidden;
}

.terminal {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #300A25;
  padding: 5%;
  width: 100%;
  height: 100vh;
  color: #fff;
  font-family: "Ubuntu Mono", monospace;
}
.terminal__window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.terminal__content {
  box-sizing: border-box;
  flex-grow: 1;
  border: 2px solid #ffffff88;
  padding: 15px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #BC5645 transparent;
}
.terminal__content::-webkit-scrollbar {
  width: 5px;
}
.terminal__content::-webkit-scrollbar-track {
  background: transparent;
}
.terminal__content::-webkit-scrollbar-thumb {
  background: #BC5645;
  border-radius: 2.5px;
}
.terminal__content--target {
  display: none;
}
.terminal__font--green {
  color: #00f100;
  font-weight: bold;
}
.terminal__font--blue {
  color: #00a4f1;
}
.terminal__font--cyan {
  color: cyan;
}
.terminal__font--orange {
  color: #ff9100;
}
.terminal__buttons {
  box-sizing: border-box;
  border: 2px solid #ffffff88;
  border-bottom: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 5px 10px;
  width: 100%;
  text-align: right;
}
.terminal__button, .terminal__button--orange, .terminal__button--gray {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: inset 0px -1px 5px 0px rgba(20, 20, 20, 0.4);
  width: 20px;
  height: 20px;
  color: #333;
  font-size: 12px;
  -moz-box-shadow: inset 0px -1px 5px 0px rgba(20, 20, 20, 0.4);
  -webkit-box-shadow: inset 0px -1px 5px 0px rgba(20, 20, 20, 0.4);
}
.terminal__button--gray {
  background-color: gray;
}
.terminal__button--orange {
  background-color: #E15120;
}

body {
  background-color: #121212;
  color: #eee;
  font-family: "Montserrat", sans-serif;
}

.content {
  background-image: url("../img/landscape-gradient.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 500px 5% 0 5%;
}
.content h1 {
  margin: 0;
}

.images3 {
  display: flex;
  margin: 60px 0;
  height: 350px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  .images3 {
    flex-direction: column;
  }
}
.images3 img, .images3 video {
  width: 33%;
  min-width: 200px;
}
@media (max-width: 900px) {
  .images3 img, .images3 video {
    width: 100%;
    margin: 2px 0;
  }
}

.images4 {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 100px 0;
  height: 850px;
  align-items: center;
  align-content: center;
}
@media (max-width: 500px) {
  .images4 {
    flex-direction: column;
  }
}
.images4 img, .images4 video {
  margin: 2px;
  width: calc(50% - 4px);
  min-width: 200px;
}
@media (max-width: 500px) {
  .images4 img, .images4 video {
    width: 100%;
  }
}

.text-right {
  margin-left: auto;
}
@media (min-width: 901px) {
  .text-right {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .text-right {
    text-align: left;
  }
  .text-right__heading {
    text-align: center;
  }
}

.text-center {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}
@media (max-width: 900px) {
  .text-center {
    text-align: left;
  }
  .text-center__heading {
    text-align: center;
  }
}

.text-left {
  margin-right: auto;
  text-align: justify;
}
@media (min-width: 901px) {
  .text-left {
    width: 50%;
  }
}
@media (max-width: 900px) {
  .text-left {
    text-align: left;
  }
  .text-left__heading {
    text-align: center;
  }
}
.text-left__heading {
  text-align: center;
}

.m10 {
  margin-top: 100px;
  margin-bottom: 100px;
}

a {
  color: #7E728C;
  text-decoration: none;
}
a:hover {
  color: #aaa;
}

.mleft {
  margin-right: 15%;
}
@media (max-width: 900px) {
  .mleft {
    margin-right: auto;
  }
}

.mright {
  margin-left: 15%;
}
@media (max-width: 900px) {
  .mright {
    margin-left: auto;
  }
}

.text, .text--5, .text--4, .text--3, .text--2, .text--1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.text p, .text--5 p, .text--4 p, .text--3 p, .text--2 p, .text--1 p {
  margin: 0.5em 0;
}
.text--1 {
  height: 275px;
}
.text--2 {
  height: 300px;
}
.text--3 {
  height: 240px;
}
.text--4 {
  height: 350px;
}
.text--5 {
  height: 320px;
}

footer {
  text-align: center;
  padding: 25px 0;
}

/*# sourceMappingURL=styles.css.map */
