body {
  background-color: #121212;
  color: #eee;
  font-family: 'Montserrat', sans-serif;
}

main {
  background-image: url('../img/landscape-gradient.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  padding: 500px 5% 0 5%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  @media #{$medium} {
    padding-top: 200px;
  }
}

.text-right {
  @include text50;
  @include mobile-text-left;
  margin-left: auto;
}

.text-center {
  @include mobile-text-left;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.text-left {
  @include text50;
  @include mobile-text-left;
  margin-right: auto;
  text-align: justify;

  &__heading {
    text-align: center;
  }
}

.m10 {
  margin-top: 100px;
  margin-bottom: 100px;
}

a {
  color: #7E728C;
  text-decoration: none;

  &:hover {
    color: #aaa;
  }
}

.mleft {
  margin-right: 15%;

  @media #{$medium} {
    margin-right: auto;
  }
}

.mright {
  margin-left: 15%;

  @media #{$medium} {
    margin-left: auto;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  p {
    margin: 0.5em 0;
  }

  @media #{$medium} {
    height: initial !important;
  }

  &--1 {
    @extend .text;
    height: 275px;
  }
  &--2 {
    @extend .text;
      height: 300px;
  }
  &--3 {
    @extend .text;
    height: 240px;
  }
  &--4 {
    @extend .text;
    height: 350px;
  }
  &--5 {
    @extend .text;
    height: 320px;
  }
}
.epilogue {
  padding: 100px 0;
  line-height: 1.5em;
  font-size: 1.1em;

  @media #{$medium} {
    padding: 20px 0;
  }
}

pre {
  display: inline-block;
}

.ascii-hidden {
  @media (max-width: 610px) {
    display: none;
  }
}

.year {
  position: relative;

  &::before {
    @media #{$medium} {
      content: attr(data-year);
      display: block;
      color: #7E728C;
      font-weight: bold;
      font-size: 0.6em;
      position: absolute;
      top: -1.1em;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.parallax-image .year::before {
  color: #cca;
}