.container {
  display: flex;
  align-items: center;
  height: 515px;
  
  @media #{$small} {
    height: initial;
    margin: 20px 0;
  }
  
  @media #{$medium} {
    flex-direction: column;
  }

  &__text {
    width: 50%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

    @media #{$medium} {
      width: 100%;
    }

    @media #{$small} {
      order: 1;
      margin-bottom: 20px;
    }
    
    &--right-aligned {
      @extend .container__text;
      @media #{$large} {
        text-align: justify;
      }

      .container__heading {
        text-align: center;
      }
    }
  }

  &__heading {
    margin: 0;
    padding: 0;

    @media #{$medium} {
      text-align: center;
    }
  }

  &__image-box {
    width: 50%;

    @media #{$medium} {
      width: 100%;
    }

    @media #{$small} {
      order: 2;
    }

    video, img {
      width: 100%;
    }

    video {
      max-width: 960px;
    }
  }

  p {
    margin: 0.5em 0;
  }

  &--large {
    @extend .container;

    .container__image-box {
      text-align: right;
    }

    img, video {
      max-height: 515px;
      max-width: 100%;
      width: auto;
    }
  }
}