.images3 {
  display: flex;
  margin: 60px 0;
  height: 350px;
  align-items: center;
  justify-content: center;

  @media #{$medium} {
    height: initial;
    flex-direction: column;
  }

  img, video {
    width: 33%;
    min-width: 200px;

    @media #{$medium} {
      width: 100%;
      margin: 2px 0;
    }
  }
}

.images4 {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 100px 0;
  height: 850px;
  align-items: center;
  align-content: center;

  @media #{$medium} {
    flex-direction: column;
    height: initial;
  }

  img, video {
    margin: 2px;
    width: calc(50% - 4px);
    min-width: 200px;

    @media #{$medium} {
      width: 100%;
    }
  }
}