main {
  position: relative;
  overflow: hidden;
}

.timeline {
  position: absolute;
  left: 0;

  @media #{$medium} {
    display: none;
  }

  text {
    @media #{$large} and (max-width: 1050px) {
      font-size: 28px;
    }
  }
}

#timeline1 {
  top: 255px;
}

#timeline2 {
  top: 8260px;
}